.item {
  color: rgb(120, 142, 151);
}

.item img {
  height: 45px;
  width: 45px;
  border-radius: 40px;
}

.TextStyle {
  color: rgb(218, 30, 30);
}

.MessageStyle {
  margin-top: 10px;
  color: rgb(108, 1, 1);
}